In [13]:
from crawled_data import CrawledData
from collections import Counter
import pandas as pd

In [ ]:
#Read data

In [2]:
data_obj = CrawledData("../data/crawled/folksongs/")
data_obj.read_crawled_data(remove_punctuation = False)

In [3]:
len(data_obj.data)

26

In [5]:
#Character frequency table

In [8]:
lang_by_char = dict()
for lang in data_obj.data:
    acc_data = "".join([data_obj.data[lang][file_id]["text"] for file_id in data_obj.data[lang]])
    lang_by_char[lang] = Counter(acc_data)

In [26]:
char_freq = pd.DataFrame(lang_by_char).fillna(0).astype('int32').sort_index()

In [27]:
char_freq

,rajasthani,gujarati,himachali,magahi,awadhi,punjabi,koraku,baiga,nimaadi,khadi_boli,...,sanskrit,angika,hariyanvi,kannauji,bundeli,bangla,malwi,marathi,kumaoni,bhadavari
\t,0,0,0,1,0,0,0,0,0,6,...,0,0,0,0,0,0,1,55,0,0
\n,1515,332,72,4857,863,10752,2951,979,3354,779,...,48,4576,7862,91,5595,187,2111,368,151,90
0,0,0,0,219,0,12,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,15,0,0,1784,0,555,0,1,0,10,...,0,0,0,0,0,0,0,3,0,0
2,6,0,0,1014,0,340,1,109,0,10,...,0,0,0,0,0,0,0,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
‘,0,0,0,3,1,9,0,26,0,3,...,0,5,19,0,37,0,2,0,0,0
’,0,0,0,3,0,13,0,26,0,3,...,0,7,29,0,35,0,2,0,0,0
“,0,0,0,0,0,0,0,0,3,3,...,0,0,0,0,11,0,0,0,0,0
”,0,0,0,0,0,0,0,0,4,3,...,0,0,0,0,13,0,0,0,0,0
…,0,0,0,0,2,0,0,1,2,91,...,0,0,0,0,0,0,0,0,17,0

In [30]:
char_freq.to_csv("character_frequency.csv", sep = "\t", encoding="utf-16")