In [140]:
import pandas as pd
import json
from collections import defaultdict, Counter

In [177]:
res_file1 = "../evaluation_languages_home/eval_results/mli_ned/results_top5_hindi-urdu_source_loose.json"
res_file2 = "../evaluation_languages_home/eval_results/mli_jw/results_top5_hindi-urdu_source_loose.json"
res_file3 = "../evaluation_languages_home/eval_results/mli_em_od/results_top5_hindi-urdu_source_loose.json"
res_file4 = "../evaluation_languages_home/eval_results/mli_sem_od/results_top5_hindi-urdu_source_loose.json"
res_file5 = "../evaluation_languages_home/eval_results/mli_sem_emod/results_top5_target0_hindi-urdu_source_loose.json"

lab_1 = "NED"
lab_2 = "JWM"
lab_3 = "em_od"
lab_4 = "sem_od"
lab_5 = "sem_emod"

In [178]:

with open(res_file1, "r") as f:
    res1 = json.load(f)

with open(res_file2, "r") as f:
    res2 = json.load(f)

with open(res_file3, "r") as f:
    res3 = json.load(f)
    
with open(res_file4, "r") as f:
    res4 = json.load(f)

with open(res_file5, "r") as f:
    res5 = json.load(f)

In [174]:
r = 3
results = defaultdict(lambda: dict())
for lang in res1:
    if lang == "hindi-urdu":
        continue
    results[lang]["Total"] = round(res1[lang]["total"], 0)
    results[lang]["Fotal"] = round(res1[lang]["found"], 0)
    results[lang][lab_1] = round(res1[lang]["accuracy"]*100, r)
    results[lang][lab_2] = round(res2[lang]["accuracy"]*100, r) if lang in res2 else "-"
    results[lang][lab_3] = round(res3[lang]["accuracy"]*100, r) if lang in res3 else "-"
    results[lang][lab_4] = round(res4[lang]["accuracy"]*100, r) if lang in res4 else "-"
    results[lang][lab_5] = round(res5[lang]["accuracy"]*100, r) if lang in res5 else "-"

In [187]:
avg = dict()
for l in [lab_1, lab_2, lab_3, lab_4, lab_5]:
    avg[l] = sum([results[lang][l] for lang in results])/len(results)
avg["Total"] = sum([results[lang]["Total"] for lang in results])/len(results)
avg["Found"] = sum([results[lang]["Fotal"] for lang in results])/len(results)

In [189]:
avg_all = {"Avg.": avg}

In [194]:
df = pd.DataFrame(avg_all).transpose()
print(df.to_latex(caption = "Average results over all languages per approach", label ="tab:res_avg"))

\begin{table}
\centering
\caption{Average results over all languages per approach}
\label{tab:res_avg}
\begin{tabular}{lrrrrrrr}
\toprule
{} &       Found &        JWM &        NED &       Total &      em\_od &   sem\_emod &     sem\_od \\
\midrule
Avg. &  118.947368 &  20.099211 &  20.173632 &  142.631579 &  18.531158 &  18.731158 &  20.262579 \\
\bottomrule
\end{tabular}
\end{table}

In [176]:
df = pd.DataFrame(results).transpose()
df

              Total  Fotal     NED     JWM   em_od  sem_od  sem_emod
angika        141.0  116.0  21.552  20.690  21.552  22.414    21.552
awadhi        148.0  123.0  28.455  26.829  21.951  26.016    25.203
bajjika       149.0  123.0  13.821  15.447  13.821  14.634    11.382
bhil          156.0  128.0  19.531  21.094  17.188  18.750    17.969
bhojpuri      139.0  115.0  31.304  28.696  32.174  30.435    29.565
brajbhasha    155.0  127.0  33.858  34.646  32.283  33.858    32.283
bundeli       139.0  117.0  26.496  25.641  25.641  30.769    26.496
chattisgarhi  136.0  115.0  25.217  26.087  24.348  28.696    26.087
garwali       143.0  120.0  15.833  15.833  15.000  15.833    14.167
hariyanvi     153.0  126.0  38.095  41.270  37.302  43.651    42.857
koraku        140.0  116.0   1.724   0.862   1.724   1.724     0.862
kumaoni       138.0  118.0   5.085   4.237   5.085   5.085     4.237
magahi        159.0  129.0  17.829  20.930  18.605  20.930    17.054
maithili      140.0  117.0  17.949  17.094  16.239  18.803    20.513
malwi         153.0  125.0  24.800  22.400  20.000  20.000    15.200
marathi       138.0  116.0   7.759   5.172   4.310   1.724     3.448
nepali        105.0   95.0  12.632  12.632   9.474   9.474     7.368
rajasthani    144.0  120.0  30.833  29.167  27.500  31.667    30.000
sindhi        134.0  114.0  10.526  13.158   7.895  10.526     9.649

In [160]:
print(df.to_latex(caption = "Results for CI", label = "tab:res_ci"))

\begin{table}
\centering
\caption{Results for CI}
\label{tab:res_ci}
\begin{tabular}{lrrrrrrr}
\toprule
{} &  Total &  Fotal &   NED &   JWM &  em\_od &  sem\_od &  sem\_emod \\
\midrule
angika       &  141.0 &  116.0 &  21.6 &  20.7 &   21.6 &    22.4 &      21.6 \\
awadhi       &  148.0 &  123.0 &  28.5 &  26.8 &   22.0 &    26.0 &      25.2 \\
bajjika      &  149.0 &  123.0 &  13.8 &  15.4 &   13.8 &    14.6 &      11.4 \\
bhil         &  156.0 &  128.0 &  19.5 &  21.1 &   17.2 &    18.8 &      18.0 \\
bhojpuri     &  139.0 &  115.0 &  31.3 &  28.7 &   32.2 &    30.4 &      29.6 \\
brajbhasha   &  155.0 &  127.0 &  33.9 &  34.6 &   32.3 &    33.9 &      32.3 \\
bundeli      &  139.0 &  117.0 &  26.5 &  25.6 &   25.6 &    30.8 &      26.5 \\
chattisgarhi &  136.0 &  115.0 &  25.2 &  26.1 &   24.3 &    28.7 &      26.1 \\
garwali      &  143.0 &  120.0 &  15.8 &  15.8 &   15.0 &    15.8 &      14.2 \\
hariyanvi    &  153.0 &  126.0 &  38.1 &  41.3 &   37.3 &    43.7 &      42.9 \\
koraku       &  140.0 &  116.0 &   1.7 &   0.9 &    1.7 &     1.7 &       0.9 \\
kumaoni      &  138.0 &  118.0 &   5.1 &   4.2 &    5.1 &     5.1 &       4.2 \\
magahi       &  159.0 &  129.0 &  17.8 &  20.9 &   18.6 &    20.9 &      17.1 \\
maithili     &  140.0 &  117.0 &  17.9 &  17.1 &   16.2 &    18.8 &      20.5 \\
malwi        &  153.0 &  125.0 &  24.8 &  22.4 &   20.0 &    20.0 &      15.2 \\
marathi      &  138.0 &  116.0 &   7.8 &   5.2 &    4.3 &     1.7 &       3.4 \\
nepali       &  105.0 &   95.0 &  12.6 &  12.6 &    9.5 &     9.5 &       7.4 \\
rajasthani   &  144.0 &  120.0 &  30.8 &  29.2 &   27.5 &    31.7 &      30.0 \\
sindhi       &  134.0 &  114.0 &  10.5 &  13.2 &    7.9 &    10.5 &       9.6 \\
\bottomrule
\end{tabular}
\end{table}

In [ ]:
# Rajasthani with new trained model with target 0
#                em_od        jw       ned  sem_emod    sem_od
# rajasthani  0.258333  0.241667  0.241667       0.3  0.316667

In [119]:
# Nepwbst results

In [126]:
res_file1 = "../evaluation_nepwbst/eval_results/mli_ned/results_nepwbst_top5.json"
res_file2 = "../evaluation_nepwbst/eval_results/mli_jw/results_nepwbst_top5.json"
res_file3 = "../evaluation_nepwbst/eval_results/mli_em_od/results_nepwbst_top5.json"
res_file4 = "../evaluation_nepwbst/eval_results/mli_sem_od/results_nepwbst_top5.json"
res_file5 = "../evaluation_nepwbst/eval_results/mli_sem_emod/results_nepwbst_top5.json"

lab_1 = "NED"
lab_2 = "JWM"
lab_3 = "em_od"
lab_4 = "sem_od"
lab_5 = "sem_emod"

In [127]:

with open(res_file1, "r") as f:
    res1 = json.load(f)

with open(res_file2, "r") as f:
    res2 = json.load(f)

with open(res_file3, "r") as f:
    res3 = json.load(f)
    
with open(res_file4, "r") as f:
    res4 = json.load(f)

with open(res_file5, "r") as f:
    res5 = json.load(f)

In [128]:
results = defaultdict(lambda: dict())
for lang in res1:
    if lang == "hindi-urdu":
        continue
    results[lang]["Total"] = round(res1[lang]["total"], 0)
    results[lang]["Fotal"] = round(res1[lang]["found"], 0)
    results[lang][lab_1] = round(res1[lang]["accuracy"]*100, 1)
    results[lang][lab_2] = round(res2[lang]["accuracy"]*100, 1) if lang in res2 else "-"
    results[lang][lab_3] = round(res3[lang]["accuracy"]*100, 1) if lang in res3 else "-"
    results[lang][lab_4] = round(res4[lang]["accuracy"]*100, 1) if lang in res4 else "-"
    results[lang][lab_5] = round(res5[lang]["accuracy"]*100, 1) if lang in res5 else "-"

In [129]:
df = pd.DataFrame(results).transpose()
df

     Fotal   JWM   NED   Total  em_od  sem_emod  sem_od
bil  698.0  12.0  15.2  4897.0    5.7       1.6     9.2

In [ ]:
PATH = "../data/crawled_cleaned/"
SOURCEFILE = PATH + anchor + ".txt"

for lang in